<html>
<head>
	<center><h3>My todo list </h3></center>
  <p><% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
     <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </p>
</head>
<body>
<% @todo.each do |todo| %>

		     <p>
          ID :<%=todo.id %>
          
          <p>
  		
  			<p>status:<%=todo.status%></p>
  		
		    <p>task:<%=todo.name %></p>
       <br>
</table>
<% end %>

</body>




<footer>1 - не сделанно, 2 - сделанно, 3 - отложенно</footer>
</html>